[submodule "3rdparty/Log4Qt"]
	path = 3rdparty/Log4Qt
	url = git@github.com:T1OOOO/Log4Qt.git
[submodule "3rdparty/nodeeditor"]
	path = 3rdparty/nodeeditor
	url = git@github.com:T1OOOO/nodeeditor.git
[submodule "3rdparty/qbinarizer"]
	path = 3rdparty/qbinarizer
	url = git@github.com:T1OOOO/qbinarizer.git
[submodule "3rdparty/QJsonModel"]
	path = 3rdparty/QJsonModel
	url = git@github.com:T1OOOO/QJsonModel.git
